.header{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mytestproject-d6bc5.appspot.com/o/ItfestMotto_anosr.png?alt=media&token=9d599d16-935e-4558-ac01-15120dc5f9e6');
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}