.header{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mytestproject-d6bc5.appspot.com/o/itfest_motto(1).svg?alt=media&token=e9e9d2e2-3187-4721-88a1-8a4e55178698');
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}